# Byte-compiled / optimized / C files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv
venv/
env/

# IDE / Editor Folders
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env