<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <title>LinkHub</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=""{{ url_for('static', filename='style.css') }}"">
    </head>
    <body>
        <script src="" async defer></script>
        
        <h1>Welcome to LinkHub</h1>
        <p>This is my personal collection of favourite links!</p>

        <ul>
            {%for link in links%}
            <li>
                <a href="{{link.url}}" target ="_blank" rel="noopener noreferrer">{{link.title}}</a>
            </li>
            {%endfor%}
        </ul>

    </body>
</html>